.root {
  :global {
    .am-pull-to-refresh {
      height: 100%;
    }

    .article-item {
      position: relative;
      padding: 0 4.2667vw;
      color: #323233;
      font-size: 3.7333vw;
      background-color: #fff;
    }

    .list-no-more {
      color: #969799;
      font-size: 3.7333vw;
      line-height: 13.3333vw;
      text-align: center;
    }
  }
}
