// 导入文件
@import "../../assets/styles/hairline.scss";
.root {
  position: relative;
  display: flex;
  align-items: center;
  height: 12.2667vw;
  width: 100%;
  // padding: 0 11.2vw;
  background-color: #fff;
  // border-bottom: 0.2667vw solid #ccc;
  @include hairline("bottom", #ccc);

  :global {
    .left {
      padding: 0 3.2vw 0 4.2667vw;
      line-height: 12.2667vw;
    }
    .icon {
      font-size: 4.2667vw;
    }

    .title {
      flex: 1;
      margin: 0 auto;
      color: #323233;
      font-weight: 500;
      font-size: 4.2667vw;
      text-align: center;
    }

    .right {
      padding-right: 4.2667vw;
      width: 12.8vw;
      // position: absolute;
      // right: 4.2667vw;
    }
  }
}
